<div class="">
    <div class="card">
    <h3>Liste des Interventions</h3>

    <div class="overflow-x-auto bg-white shadow-md rounded-lg">
        <p-table class="min-w-full table-auto" #interventionTable [paginator]="true" [rows]="10" [value]="ArrayIntervention" [stripedRows]="true" [globalFilterFields]="['createdAt', 'date_debut', 'vehicule.immatriculation', 'utilisateur.nom', 'utilisateur.prenom']">
            <ng-template pTemplate="caption">
                <div class="flex justify-end">
                    <p-icon-field>
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input type="text" name="search" id="search" pInputText placeholder="Rechercher" (input)="interventionTable.filterGlobal($any($event.target).value, 'contains')" />
                    </p-icon-field>
                </div>
            </ng-template>

            <ng-template #emptymessage>
                <div class="p-3">
                    <p>Aucun intervention trouver</p>
                </div>
            </ng-template>

            <ng-template #header class="bg-gradient-to-r from-blue-500 to-blue-700 text-white">
                <tr>
                    <th pSortableColumn="createdAt">
                        Date creation <p-sortIcon field="createdAt" />
                    </th>
                    <th pSortableColumn="date_debut" class="py-3 px-6 text-left">
                        Date de début <p-sortIcon field="date_debut" />
                    </th>
                    <th class="py-3 px-6 text-left">État de l'intervention</th>
                    <th class="py-3 px-6 text-left">Véhicule</th>
                    <th class="py-3 px-6 text-left">Utilisateur</th>
                    <th class="py-3 px-6 text-center">Actions</th>
                </tr>

                <tr>
                    <th>
                        <p-columnFilter type="text" field="createdAt" placeholder="Rechercher date intevertion"></p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter type="text" field="date_debut" placeholder="Rechercher date intevertion"></p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="etat_intervention" matchMode="equals" [showMenu]="false">
                            <ng-template #filter let-value let-filter="filterCallback">
                                <p-select
                                    [ngModel]="value"
                                    [options]="etats"
                                    (onChange)="filter($event.value)"
                                    placeholder="Select One"
                                    [showClear]="true"
                                >
                                    <ng-template let-option #item>
                                        <p-tag [value]="option.label" [severity]="option.severity" />
                                    </ng-template>
                                </p-select>
                            </ng-template>
                        </p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter type="text" field="vehicule.immatriculation" placeholder="Rechercher par immatriculation"></p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter type="text" field="utilisateur.nom" placeholder="Rechercher nom utilisateur"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>

            <ng-template #body let-intervention>
                <tr>
                    <td class="py-4 px-6">{{ (intervention.createdAt | date:'dd/MM/yyyy') ?? "N/A" }}</td>
                    <td class="py-4 px-6">{{ (intervention.date_debut | date:'dd/MM/yyyy') ?? "N/A" }}</td>
                    <td class="py-4 px-6">
                        <span
                          class="inline-block px-4 py-1 rounded-full text-white"
                          [ngClass]="{
                            'bg-blue-500': intervention.etat_intervention === -10,
                            'bg-yellow-500': intervention.etat_intervention === 0,
                            'bg-orange-500': intervention.etat_intervention === 10,
                            'bg-green-500': intervention.etat_intervention === 100
                          }"
                        >
                          {{ getEtatIntervention(intervention.etat_intervention) }}
                        </span>
                    </td>
                    <td class="py-4 px-6">
                        <span class="font-semibold text-gray-800">
                            <div class="flex gap-4 align-middle items-center">
                                <i class="pi pi-car"></i>

                                <div class="flex flex-col gap-2">
                                    <p class="m-0 font-extrabold">{{ intervention?.vehicule?.immatriculation }}</p>

                                    <div class="flex gap-1">
                                        <p class="m-0">{{ intervention?.vehicule?.modele }}</p>
                                        <p class="m-0">{{ intervention?.vehicule?.marque }}</p>
                                        <p class="m-0">{{ intervention?.vehicule?.annee }}</p>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </td>
                    <td class="py-4 px-6">
                        <div class="flex gap-4 align-middle items-center">
                            <i class="pi pi-user"></i>

                            <div class="flex flex-col gap-2">
                                <div class="flex gap-2">
                                    <p class="m-0 font-extrabold">{{ intervention?.utilisateur?.nom }}</p>
                                    <p class="m-0 font-extrabold">{{ intervention?.utilisateur?.prenom }}</p>
                                </div>

                                <div class="flex gap-2">
                                    <p class="m-0">{{ intervention?.utilisateur?.telephone }}</p>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="py-4 px-6 text-center">
                        <button 
                            (click)="creerFicheIntervention(intervention._id)"
                            class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-200">
                            Modifier fiche
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>